/*CSS Variables*/
:root {
    --primary:#ddd;
    --dark:#333333;
    --light:#fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}



/*--------GLOBAL-------*/

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
    margin-bottom: 0;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border:0;
}

img {
    max-width: 100%; /* ყველა ფოტო რომ თავის parent ბლოკში მაქსიმალურად გაიშალოს  */
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}


/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/




/*-------- Navigation --------*/

.main-nav ul {  /* "display:grid"-ს ვუთითებთ პირდაპირ მშობელ კონტეინერს. და არა მთავარ მშობელს. ამ შემთხვევაში ul წარმოადგენს პირდაპირ მშობელს */
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color:var(--light);
}

/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/



/* --------- Top Container --------- */

.top-container {
    display:grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'    
    'showcase showcase top-box-b';
/* როდესაც განვსაზღრავთ "grid-templet-areas"-ს, ქვემოთ თითოეულ შვილობილ ბოქსს უნდა მივაკუთვნოთ ეს ტემპლეტური სახელები  */
}




/* ----------- showcase ----------- */
.showcase {
  grid-area: showcase;  /* როდესაც განვსაზღრავთ "grid-templet-areas"-ს, ქვემოთ თითოეულ შვილობილ ბოქსს უნდა მივაკუთვნოთ ეს ტემპლეტური სახელები  */

  min-height: 400PX;
  background: url('img/img-1.jpg') no-repeat center / cover;
  padding: 2rem;
  display: flex; 
  flex-direction: column; /* ვერტიკალურად ჩამწკრივდება შიდა ბოქსები */
  align-items: start; /* მარჯვნივ, მარცხნივ თუ ცენტრში? */
  justify-content: center; /* ზემოთ თუ ქვემოთ თუ ცენტრში?  */
  box-shadow: var(--shadow);
}


.showcase h1 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.price {
    font-size: 2.5rem;
}

.top-box-a {
    grid-area: top-box-a; /* როდესაც განვსაზღრავთ "grid-templet-areas"-ს, ქვემოთ თითოეულ შვილობილ ბოქსს უნდა მივაკუთვნოთ ეს ტემპლეტური სახელები  */

}

.top-box-b {
    grid-area: top-box-b; /* როდესაც განვსაზღრავთ "grid-templet-areas"-ს, ქვემოთ თითოეულ შვილობილ ბოქსს უნდა მივაკუთვნოთ ეს ტემპლეტური სახელები  */

}


/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/


/* ------  4 Boxes ------- */

.boxes {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    /* RWD დიზაინისთვის ზედმისწრებაა. მხოლოდ შეუცვლი px-ებს !!! */
}


.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}


/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/



/* ------  info  ------  */

.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
}


/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/



/* ------  PORTFOLIO  ------  */

.portfolio {
   display: grid;
   grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)); 
    /* RWD დიზაინისთვის ზედმისწრებაა. მხოლოდ შეუცვლი px-ებს !!! */
}

.portfolio img {
    width: 100%;
    box-shadow: var(--shadow);
}


/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/



/* ------  FOOTER  ------  */

footer {
    margin-top: 2rem;
    text-align: center;
    background: var(--dark);
    color: var(--light);
}




/*=================================================================================================================================================================================================================================================================================================================================================================================================================*/



/* ------  MEDIA QUARIES  ------  */

@media (max-width: 700px) {
    .top-container {
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b'
    }

    .showcase h1 {
        font-size: 2.5rem;
    }

    .main-nav ul {
        grid-template-columns: 1fr;
    }

    .boxes {
        grid-template-columns: 1fr;  
    }

    .info {
        grid-template-columns: 1fr;  
    }
    
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}



@media (max-width: 500px) {
    .top-container {
        grid-template-areas: 
        'showcase'
        'top-box-a' 
        'top-box-b'
    }
}